<p id="notice"><%= notice %></p>

<p>
  <strong>Charge code:</strong>
  <%= @charge_codes_statistic.charge_code_id %>
</p>

<p>
  <strong>Charge code amount:</strong>
  <%= @charge_codes_statistic.charge_code_amount %>
</p>

<p>
  <strong>Charge code name:</strong>
  <%= @charge_codes_statistic.charge_code_name %>
</p>

<p>
  <strong>Charge code dest number:</strong>
  <%= @charge_codes_statistic.charge_code_dest_number %>
</p>

<p>
  <strong>Charge code instruc t:</strong>
  <%= @charge_codes_statistic.charge_code_instruc_t %>
</p>

<p>
  <strong>Charge code instruc no t:</strong>
  <%= @charge_codes_statistic.charge_code_instruc_no_t %>
</p>

<p>
  <strong>Yewucode name:</strong>
  <%= @charge_codes_statistic.yewucode_name %>
</p>

<p>
  <strong>Union name:</strong>
  <%= @charge_codes_statistic.union_name %>
</p>

<%= link_to 'Edit', edit_charge_codes_statistic_path(@charge_codes_statistic) %> |
<%= link_to 'Back', charge_codes_statistics_path %>
